src/test/resources/userSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="user" type="userType"/>
    <xs:complexType name="userType">
        <xs:sequence>
            <xs:element type="xs:boolean" name="enabled"/>
            <xs:element type="xs:dateTime" name="created"/>
            <xs:element type="xs:string" name="product"/>
            <xs:element type="xs:string" name="parent"/>
            <xs:element type="xs:dateTime" name="deletion-deadline"/>
            <xs:element type="xs:boolean" name="subscribed"/>
            <xs:element type="xs:string" name="external_id"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
